body {
    /* background-color: #000000; */
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    /* background: radial-gradient(circle at 100%, #151515, #000000); */
    /* background: radial-gradient(circle at 100%, #4A4A4A, #FFFFFF); */
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #000000;
}
body::-webkit-scrollbar-thumb {
    background-color: #FF0000;
    outline: 1px solid #FFFFFF;
}

html {
    overflow-y: scroll;
    scrollbar-color: #FF0000 #FFFFFF;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
    color: #FF0000;
}
p, h1, h2 {
    padding: 0 1em;
}
img:hover {
    cursor: zoom-in;
}
#background {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}
#background:hover {
    cursor: initial;
}

.container {
    box-sizing: border-box;
    border: 1px solid #313131;
    background-color: #000000AA;
    display: inline-block;
    text-align: left;
    overflow: auto;
    height: max-content;
}
.containerMargin {
    margin: 1em;
    line-height: 2em;
}
.containerTitle {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: large;
    text-align: left;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 1.5em;
    margin: 0;
    background-color: #151515AA;
    border-bottom: 1px solid #313131;
}

.button {
    box-sizing: border-box;
    border: 1px solid #313131;
    background-color: #00000055;
    color: #FFFFFF;
    text-align: center;
}

#navBar {
    padding: 0;
    margin: 1em;
}
#navBar>button {
    display: inline-block;
    box-sizing: border-box;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#navBar>button:hover {
    border-color: #21b3d2;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 95%;
  }
  [class*="triple"] {
    width: 33.33%;
  }
}

.height-1 {height: 2rem;}
.height-2 {height: 4rem;}
.height-3 {height: 8rem;}
.height-4 {height: 12rem;}
.height-5 {height: 16rem;}
.height-6 {height: 20rem;}
.height-7 {height: 24rem;}
.height-8 {height: 28rem;}
.height-9 {height: 32rem;}
.height-10 {height: 36rem;}
.height-11 {height: 40rem;}
.height-12 {height: 44rem;}

@media only screen and (max-height: 600px) {
    /* For mobile phones: */
    [class*="height-"] {
        height: fit-content;
    }
    [class*="triple-height"] {
      height: 33.33%;
    }
  }